.beat-container {
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  width: 45px;
}

.normal-beat-container {
  background-color: transparent;
}

.active-beat-container .beat {
  border-color: orange;
}

.active-beat-container .strong-beat {
  box-shadow: 0 0 0 3px white, 0 0 0 6px orange;
}

.metronome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.active-beat {
  background-color: orange !important;
  opacity: 1;
}

.normal-beat {
  border: 8px double purple;
}

.weak-beat {
  width: 25px !important;
  height: 25px !important;
  border: 3px solid purple;
}

.strong-beat {
  border: 10px double purple;
  box-shadow: 0 0 0 3px white, 0 0 0 6px purple;
}

.beat {
  display: block;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  box-sizing: border-box;
}
