/* .active-beat-container {
  background-color: blue;
} */

.normal-beat-container {
	background-color: transparent;
}

.beat-container {
	padding: 10px 10px;
	border: 1px solid white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: end;
	align-items: center;
	cursor: pointer;
	width: 45px;
}

.metronome {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.active-beat {
	background-color: blue;
	opacity: 1;
}

.normal-beat {
	background-color: lightblue;
	opacity: 0.3;
}

.weak-beat {
	background-color: transparent;
	border: 3px solid lightblue;
}

.strong-beat {
	background-color: lightblue;
	opacity: 1;
}

.beat {
	display: block;
	width: 30px;
	border-radius: 50%;
	height: 30px;
	box-sizing: border-box;
}