#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
  background-image: url('assets/icons/musical-note.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: 40px auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  border-radius: 20px;
  border: 1px solid #e2e2e9;
  box-shadow: 4px 3px 8px 0px rgba(16, 35, 47, 16%);
  color: #292828;
  background-color: white;
}

.header {
  height: 90px;
  background-color: #06616b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo-img {
  background-image: url('assets/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px auto;

  width: 60px;
  height: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logo-name {
  font-size: 27px;
  font-weight: 500;
}